﻿

        <ul id ="loggedIn" class="nav navbar-nav navbar-right">
            <li>
                <span id="spanUserName" class="text-muted"></span>
            </li>
            <li><input id="logOff" type="button" class="btn" value="Log off" /></li>
        </ul>


    <ul id ="logIn" class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            if (sessionStorage.getItem("userName") != null || sessionStorage.getItem("userName") != undefined) {
                $("#spanUserName").text("Hello " + sessionStorage.getItem("userName") + "!");
                $("#logIn").hide();
            }
            else {
                $("#loggedIn").hide();
            }

            $("#logOff").click(function () {
                
                sessionStorage.removeItem("accessToken");
                window.location.href = "/Home";
            });
        });
    </script>


}