﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-10 col-md-offset-1">
    <div class="well">
        <table class="table table-bordered">
            <thead>
                <tr class="bg-success">
                    <th colspan="2">
                        <h2>Login</h2>
                        
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="btn pull-right" })
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        User Name:
                    </td>
                    <td>
                        <input type="text" id="txtUserName" placeholder="UserName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" id="txtPassword" placeholder="Password" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input id="btnLogin" class="btn btn-success" type="button" value="Login" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" class="close" href="#">&times;</a>
            <div id="divErrorText"></div>
        </div>
    </div>
</div>

@section scripts

{
    <script type="text/javascript">
        $(document).ready(function () {
            $("linkClose").click(function () {
                $("divError").hide("fade");
            });
            $("#btnLogin").click(function () {
                $.ajax({
                    url: "/token",
                    method: "POST",
                    contentType: "application/json",
                    data:
                    {
                        username: $("#txtUserName").val(),
                        password: $("#txtPassword").val(),
                        grant_type: "password"

                    },
                    success: function (response) {
                        sessionStorage.setItem("accessToken", response.access_token);
                        sessionStorage.setItem("userName", response.userName);
                        window.location.href = "/Feed/FeedChannels";
                        //$("#divErrorText").text(JSON.stringify(response));
                        //$("#divError").show("fade");
                    },
                    error: function (jqXHR) {
                        $("#divErrorText").text(jqXHR.responseText);
                        $("#divError").show("fade");
                    }

                });
            });
        });
    </script>

}
