﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 col-md-offset-1">
    <div class="well">
        <table class="table table-bordered">
            <thead>
                <tr class="bg-primary">
                    <td colspan="2">
                        <h2>New User Registration</h2>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <input type="text" id="txtEmail" placeholder="Email" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input type="password" id="txtPassword" placeholder="Password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password:
                    </td>
                    <td>
                        <input type="password" id="txtConfirmPassword" placeholder="Confirm Password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="btnRegister" class="btn btn-primary" type="button" value="Register" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" tabindex="-1" id="successModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4>Success</h4>
                    </div>
                    <div class="modal-body">
                        <h2>Registration Successful!</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-success">
                            Close
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" class="close" href="#">&times;</a>
            <div id="divErrorText"></div>
        </div>
    </div>
</div>

@section scripts

{
<script type="text/javascript">
        $(document).ready(function () {
            $("linkClose").click(function () {
                $("divError").hide("fade");
            });
            $("#btnRegister").click(function () {
                $.ajax({
                    url: "/api/account/register",
                    method: "POST",
                    data:
                    {
                        email: $("#txtEmail").val(),
                        password: $("#txtPassword").val(),
                        confirmPassword: $("#txtConfirmPassword").val()

                    },
                    success: function () {
                        $("#successModal").modal("show");
                        window.location.href = "/Account/Login";
                    },
                    error: function (jqXHR) {
                        $("#divErrorText").text(jqXHR.responseText);
                        $("#divError").show("fade");
                    }

                });
            });
        });
</script>

}