﻿
@{
    ViewBag.Title = "FeedChannels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Feed Channels</h2>

@using (Html.BeginForm("New", "Feed"))
{
    <button type="submit" class="btn btn-success">Add link</button>
}
<p>

</p>

<table id="feedchannels" class="table table-responsive table-striped tab-content">
    <thead>
        <tr>
            <th>Channel</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>


@section scripts
{
    <script>
        $(document).ready(
            function () {
                if (sessionStorage.getItem("accessToken") == null) {
                    window.location.href = "/Account/Login";
                }
                else {
                    var table = $("#feedchannels").DataTable({
                        ajax: {
                            url: "/api/feed",
                            method: "GET",
                            dataSrc: "",
                            headers: {
                                "Authorization": "Bearer " + sessionStorage.getItem("accessToken")
                            }
                        },
                        columns: [
                            {
                                render: function (data, type, feedChannel) {
                                    return "<a href = '/api/feed/" + feedChannel.channelId + "'>" + feedChannel.name + "</a>";
                                }
                            },
                            {
                                render: function (data, type, feedChannel) {
                                    return feedChannel.numberOfItems;
                                }

                            }


                        ]
                    });
                }
            });

    </script>
}
