﻿
@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

Type the link of feed channel:
<input type="text" id="name" placeholder="type a name" />
<input type="text" id="feedLink" placeholder="type a link" />
<input type="text" id="category" placeholder="type a category" />

<input id="btnLink" class="btn btn-success" type="button" value="Add a link" />

<div id="divErrorText">
    <div id="divError"></div>
</div>

@section scripts

{
    <script type="text/javascript">
        $(document).ready(function () {


            $("#btnLink").click(function () {
                var vm = {};
                vm.name = $("#name").val();
                vm.feedLink = $("#feedLink").val();
                vm.category = $("#category").val();


                $.ajax({
                    url: "/api/feed",
                    method: "POST",

                    data: vm,
                    headers: {
                        "Authorization": "Bearer " + sessionStorage.getItem("accessToken")
                    },

                    success: function (response) {

                        window.location.href = "/Feed/FeedChannels";
                        //$("#divErrorText").text(JSON.stringify(response));
                        //$("#divError").show("fade");
                    },
                    error: function (jqXHR) {
                        $("#divErrorText").text(jqXHR.responseText);
                        $("#divError").show("fade");
                    }

                });
            });
        });
    </script>

}
